.button, .button a{
    border: none;
    background: var(--gradient-bg);
    color: var(--gradient-text-color);
    border-radius: 999999rem;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--elevation-1);
    cursor: pointer;
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
    padding: 0;
}