.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--gradient-bg);
    flex-shrink: 0;
}

.sidebar, .sidebar.collapsed:hover{
    width: 225px;
}

.sidebar.collapsed{
    position: static;
    width: auto;
}

.sidebar nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.link, .toggle{
    color: var(--gradient-text-color);
    cursor: pointer;
    text-decoration: none;
}

.link{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.link.active{
    background-color: var(--gradient-accent);
}

.link-icon{
    padding: var(--padding);
}

.link-text, .collapsed:hover .link-text{
    vertical-align: middle;
    padding-right: var(--padding);
    display: initial;
}

.collapsed .link-text{
    display: none;
}

@media(max-width: 800px){
    .sidebar, .sidebar.collapsed{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
}