:root{
  --gradient-bg: linear-gradient(247.76deg, #AA073A -3.41%, #61045F 139.03%);
  --gradient-accent: #65033F;
  --gradient-text-color: #fff;
  --main-bg: #f2f2f2;
  --bright-bg: #fff;
  --dark-bg: #000;
  --padding-xs: .3rem;
  --padding-s: .8rem;
  --padding: 1.1rem;
  --font-size-sm: .7rem;
  --font-size: 1rem;
  --font-size-bigger: 1.4rem;
  --font-size-big: 1.6rem;
  --elevation-1: 0px 1px 10px rgba(0, 0, 0, 0.5);
  --radius: 3px;
  --margin: 1.5rem;
}

body, html {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name{
  font-size: var(--font-size);
  margin: 0;
}

.manufacturer{
  font-size: var(--font-size-sm);
  line-height: var(--font-size);
}
